<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<div class="container">
<div class="page-header">
  <h1>Links<small> SHORTENED</small></h1>
</div>