<% include partials/head %>
<div class="col-md-4 col-md-offset-4">
<form action="/results" method="post" role="form">
  <legend>Shoten your links people</legend>

  <div class="form-group">
    <input name='url' type="text" class="form-control" id="" placeholder="Enter url to shorten">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<% include partials/footer %>